/* General styles */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Antd styles */
/* CAROUSEL */
.ant-carousel .slick-slide {
  text-align: center;
  height: 52vh;
  line-height: 52vh;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.firstSlide {
  background-image: url('/Library.jpeg');
  background-size: cover; 
}

.secondSlide {
  background-image: url('/Books.jpeg');
  background-size: cover; 
}

.thirdSlide {
  background-image: url('/Books2.jpeg');
  background-size: cover; 
}

.fourthSlide{
  background-image: url('/Books3.jpeg');
  background-size: cover; 
}

/* TABS AND MENU*/
.ant-tabs-bar .ant-tabs-top-bar{
  margin: 0;
}

/* Other styles */
.navbar{
  height: 10vh;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  text-decoration: none;
  color: #333;
}

.navbar a:hover {
  color: #333;
}

.navbar a.nav-active{
  background-color: whitesmoke;
  color: #436199;
}

.noBorder{
  border: none;
  outline: none;
  color: #333;
}

.noBorder:hover{
  color: #333;
}

.logo img, .logo{
  height: 100%;
}

.logo {
  padding: 0 10px;
}

.content{
  margin: 0 20px;
  padding: 0px 20px;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imgResize {
  width: 70%;
  height: 50%;
}

.imgResize img{
  width: 100%;
  height: 100%;
  margin: auto 0;
}

.card {
  align-content: center;
  text-align: center;
  margin: 10px;
  border: 2px solid rgb(17, 19, 46);
}

.card h3{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(17, 19, 46);
}

.card .button {
  bottom: 0px;
}

.imageAndText {
  display: flex;
}

.imgContainer {
  text-align: center;
  height: 50vh;
  background-image: url('/notebook.jpeg');
  background-size: cover; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
}

.imgContainer h1, .imgContainer h2{
  padding-top: 9%;
  color: rgb(16, 16, 37);
}

.default {
  text-align: center;
  height: 20%;
  width: 30%;
  padding-top: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 20px 40px;
  border: 2px solid rgb(17, 19, 46);
  margin: 20px;
}

.default h3 {
  color:rgb(16, 16, 37);
}

.auth {
  height: 83vh;
  background-image: url('/LibraryAuth.jpeg');
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
}

.signupContainer {
  width: 35%;
  height: 40%;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border: 2px solid rgb(25, 25, 58);
}

.signupContainer h2 {
  color: rgb(25, 25, 58);
  font-weight: bold;
}

.signupContainer input {
  border: none;
  border-radius: 3px;
  background: rgb(240, 240, 240);
  width: 70%;
  height: 15%;
  margin: 2px;
  padding-left: 5px; 
}

.signupContainer .button{
  background: rgb(25, 25, 58);
  color: #fff;
  border: none;
  margin: 5px 0;
}

.profile{
  height: 83vh;
  display: flex;
  align-content: center;
  align-items: center;
  background-image: url('/LibraryAuth.jpeg');
  background-size: cover;
}

.profileContainer {
  width: 60%;
  height: 65%;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  border: 2px solid rgb(25, 25, 58);
  align-content: center;
  align-items: center;
}

.imgAndName{
  width: 40%;
  text-align: center;
}

.imgAndName h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(25, 25, 58);
}

.interests{
  width: 60%;
  text-align: center;
}

.interests h2{
  width: 100%;
  background: rgb(25, 25, 58);
  color: #fff;
  border-radius: 10px;
  padding: 5px 0px;
}

.imgAndName img {
  width: 50%;
  max-height: 30%;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 2px rgba(52, 52, 54, 0.192);
  margin-left: auto;
  margin-right: auto;
}

/* .detail{
  background-image: url('/LibraryAuth.jpeg');
  background-size: cover;
  width: 100%;
  height: 83vh;
  display: flex;
  align-content: center;
  align-items: center;
}

.detailContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 90%;
  padding: 30px 5px;
  border-radius: 10px;
  border: 2px solid rgb(25, 25, 58);
  background: rgba(255, 255, 255);
} */

.create {
  background-image: url('/LibraryLight.jpeg');
  background-size: cover;
  width: 100%;
  height: 83vh;
  display: flex;
  align-content: center;
  align-items: center;
}

.createContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;  
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 30px 5px;
  border-radius: 10px;
  border: 2px solid rgb(25, 25, 58);
  background: rgba(255, 255, 255);
}

.table {
  width: 100%;
  overflow-x:scroll;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.createContainer .button{
  background: rgb(25, 25, 58);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 10px;
}

.createContainer .buttonBack{
  background: rgb(61, 61, 192);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 2px;
}

.tableAndImage {
  display: flex;
}

.createContainer .button:hover, .createContainer .buttonBack:hover{
  cursor: pointer;
}

.ctable table {
  width: 80%;
}

.createContainer td {
  text-align: left;
  width: 15%;
}

.createContainer td input, .createContainer td textarea, .createContainer td select {
  border: none;
  border-radius: 3px;
  background: rgb(233, 233, 233);
  width: 90%;
  height: 20%;
  margin-top: 2px;
  margin-left: 10px;
  padding-left: 5px; 
  outline: none;
}

.createContainer h1 {
  text-align: center;
  font-weight: bold;
}

/* .imgAndDescription {
  display: flex;
  width: 70%;
  height: 85%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.imgAndDescription img{
  max-width: 45%;
}

.imgAndDescription h3{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(25, 25, 58);
} */

.titleAndButtons{
  width: 100%;
  height: 15%;
  text-align: center;
  margin-bottom: 10px;
}

.titleAndButtons h1{
  width: 100%;
  font-weight: bold;
  color: rgb(25, 25, 58);
}

/* .description{
  margin: 10px;
  width: 55%;
} */

/* --- */
.detailContainer {
  width: 100%;
  /* height: 110vh; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(247, 244, 244); */
  text-align: center;
}

.detailContainer .hola {
  margin: 10px;
}

.detailContainer h1 {
  text-align: center;
  height: 15vh;
  background: #253552;
  color: whitesmoke;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 20px; 
}

.imgAndDescription {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
  height: 60vh;
}

.description {
  width: 50%;
  padding-left: 20px;
  margin-top: 20px; 
  text-align: justify;
}

.description h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(90, 90, 90);
}

.imgAndDescription img {
  height: 90%;
  max-width: 45%;
}

.bottom{
  bottom: 0px;
}

.pointer:hover{
  cursor: pointer;
}

.ant-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input[type=file]{
  cursor: pointer;
}

.swal-text{
  text-align: center;
}

@media screen and (max-width: 375px){
  .imageAndText {
   flex-wrap: wrap;
  }

  .imgContainer{
    /* font-size: 1.5em; */
    height: 20vh;
  }

  .imgContainer h2{
    font-size: 1.2em;
    padding-top: 20%;
  }

  .links{
    width: 40%;
  }

  .default {
    height: 55vh;
  }

  .default h2 {
    font-size: 1.3em;
  }

  .createContainer{
    width: 98%;
    flex-wrap: wrap;
  }

  .createContainer table {
      overflow-x: auto;
  }

  .detailContainer h1 {
    height: 20vh;
    font-size: 1.5em;
    padding-top: 20px;
  }

  .detailContainer {
    width: 100%;
    /* height: 120vh; */
  }

  .imgAndDescription img {
    height: 50%;
  }

  .description{
    width: 100%;
  }

  .signupContainer{
    width: 98%;
  }

  .profileContainer{
    flex-wrap: wrap;
    height: 95%;
    width: 98%;
  }

  .imgAndName{
    width: 100%;
  }

  .interests{
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .imageAndText {
   flex-wrap: wrap;
  }

  .imgContainer{
    font-size: 2.5em;
    height: 25vh;
  }

  .imgContainer h2{
    padding-top: 12%;
  }

  .default{
    height: 59vh;
  }

  .createContainer{
    width: 98%;
    flex-wrap: wrap;
  }

  .createContainer table {
      overflow-x: auto;
  }

  .detailContainer{
    width: 99%;
  }

  .imgAndDescription{
    flex-wrap: wrap;
  }

  .imgAndDescription img{
    max-width: 100%;
  }

  .description{
    width: 100%;
  }
  .signupContainer{
    width: 98%;
  }

  .profileContainer{
    flex-wrap: wrap;
    height: 95%;
    width: 98%;
  }

  .imgAndName{
    width: 100%;
  }

  .interests{
    width: 100%;
  }
}
